# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/public/hot
/public/build

# Env files
.env
.env.backup
.env.production

# IDEs
/.idea
/.vscode
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
.DS_Store
Thumbs.db

# Laravel Nova
/.nova

# JetBrains Fleet
/.fleet

# Zed editor
/.zed

# Auth
/auth.json

# Others
Homestead.json
Homestead.yaml
